.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
}

.link {
  width: 350px;
  padding: 20px;
}

.button_row {
  text-align: right;
}

.add_button {
  background-color: #007fff;
}
